h1 {
  text-align: center;
}

.footer-copyright {
  text-align: center;
}

.footer-content {
  text-align: center;
}

#hacker-headlines {
  height: 10%;
  overflow: auto;
}

#searchDiv {
  overflow: auto;
} 


#firechat .firechat-dropdown-toggle.btn {
  padding:0px;
}

#firechat .firechat-dropdown-toggle.btn {
  padding: 0px;
  padding-bottom: 28px;
}

body { 
  background: url("../images/light-blue-abstract-background.jpg") no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.brand-logo {
  font-family: "Helvetica Neue",sans-serif;
  margin-left: 1%;
}

h4 {
  font-family: "Helvetica Neue",sans-serif;
}

h2 {
  font-family: "Helvetica Neue",sans-serif;
  text-align: center;
}

#results {
  margin-top: 5%;
}

.article-title {
  font-weight: bold;
}

.profile-pic {
  height: 200px;
}

#firechat .btn:first-child {
 
  height: 40px;
}

#firechat .btn {
  height: 40px;
}