h1 {
    text-align: center;
}

.card {
    
}

.footer-copyright {
    text-align: center;
}

.footer-content {
    text-align: center;
}

#hacker-headlines {
    overflow: auto;
}

#searchDiv {
    overflow: auto;
}